In [64]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [65]:
df = pd.read_json('train.json', encoding='utf-8')
df = df.sample(frac=1).reset_index(drop=True)
df = df[['content', 'disease']]
df.head()
df['disease'].value_counts()

none       302
measles     27
dengue      26
typhoid     24
Name: disease, dtype: int64

In [66]:
df.loc[df['disease']=='none', 'disease',]=0
df.loc[df['disease']=='dengue', 'disease',]=1
df.loc[df['disease']=='measles', 'disease',]=2
df.loc[df['disease']=='typhoid', 'disease',]=3
df.head()

                                             content disease
0  MANILA, Philippines — Aegis Juris fraternity m...       0
1  PARIS, France – The Philippines became the fir...       0
2  DAVAO CITY, Philippines — President Duterte gr...       0
3  MANILA, Philippines — After conquering Mount E...       0
4  MANILA, Philippines — Three bettors won the ja...       0

In [67]:
df_x = df['content']
df_y = df['disease']

In [68]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.50, random_state=4)

In [69]:
x_train.head()

232    MANILA, Philippines — Four suspected kidnapper...
297    DAVAO CITY  , Philippines  —  The departure of...
90     LANAO DEL SUR — Authorities are now guarding h...
76     ZAMBOANGA CITY, Philippines — Newly installed ...
108    MANILA, Philippines — Outgoing presidential sp...
Name: content, dtype: object

In [70]:
cv = CountVectorizer(min_df=1, stop_words='english', vocabulary={
    'dengue':0, 
    'measles':1, 
    'typhoid':2,
})
x_traincv = cv.fit_transform(x_train)
a = x_traincv.toarray()
cv.inverse_transform(a[0])
x_testcv = cv.transform(x_test)

In [71]:
mnb = MultinomialNB()

In [72]:
y_train = y_train.astype('int')
y_train

232    0
297    0
90     0
76     0
108    0
229    2
327    2
162    0
35     0
257    0
178    0
81     0
163    0
57     3
121    2
321    0
26     0
140    0
341    0
104    0
4      0
266    0
77     0
281    1
135    1
62     0
347    0
271    0
278    0
38     0
      ..
49     2
136    2
30     0
377    0
194    0
56     3
201    0
149    3
21     0
183    0
0      0
52     0
126    0
294    1
44     0
164    0
375    0
313    0
311    0
94     3
109    0
359    0
252    0
58     0
306    0
87     0
360    0
197    1
174    0
122    0
Name: disease, Length: 189, dtype: int64

In [73]:
mnb.fit(x_traincv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [74]:
predictions = mnb.predict(x_testcv)

In [75]:
a = np.array(y_test)
a

array([1, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0, 0, 0, 3, 1, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 3, 1, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 2, 0, 0, 3, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0, 0,
       1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       3, 2, 0, 0, 3, 0, 0, 0, 1, 0, 0, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 3, 3, 0], dtype=object)

In [76]:
count = 0

for i in range(len(predictions)):
    if predictions[i] == a[i]:
        count += 1
    else:
        print("Prediction", predictions[i], "\nActual:", a[i], "\n")
        
count

Prediction 2
Actual: 0

Prediction 1
Actual: 0

Prediction 0
Actual: 1

Prediction 1
Actual: 0

Prediction 3
Actual: 0

Prediction 3
Actual: 0

Prediction 0
Actual: 3

Prediction 0
Actual: 1

Prediction 0
Actual: 1

Prediction 2
Actual: 0

Prediction 1
Actual: 0

Prediction 0
Actual: 1

Prediction 1
Actual: 0

Prediction 1
Actual: 0

Prediction 0
Actual: 1

Prediction 1
Actual: 0

174

In [77]:
len(predictions)

190

In [78]:
count / len(predictions)

0.9157894736842105